@import '../../styles.scss';

$columns: 6;
$minRowHeight: 300px;
$gridGap: 10px;

.demo1-header .ui-card-title {
    font-size: 26px;
    text-align: center;
}


//smallest
.container {
    @include custom_grid( $columns, $minRowHeight, $gridGap );
    grid-template-areas:
    ". p1 p1 p1 p1 ."
    ". p2 p2 p2 p2 ."
    ". p3 p3 p3 p3 .";
}

/*
//sm
@media screen and ( min-width: 760px ) {
    .container {
        @include custom_grid( $columns, $minRowHeight, $gridGap );
        grid-template-areas:
        "p1 p1 p2 p2 p3 p3"
    }
}
*/

//md or larger
@media screen and ( min-width: 992px ) {
    .container {
        @include custom_grid( $columns, $minRowHeight, $gridGap );
        grid-template-areas:
        "p1 p1 p2 p2 p3 p3";
    }
}

/*
//lg
@media screen and ( min-width: 1200px ) {
    .container {
        @include custom_grid( $columns, $minRowHeight, $gridGap );
        grid-template-areas:
        "p1 p1 p2 p2 p3 p3"
    }
}
*/

.p1 {
    grid-area: p1;
}

.p1-style .ui-scrollpanel-content {
    padding: 2em;
}

.p1-style .ui-scrollpanel-bar {
    background-color: orange;
}

.p2 {
    grid-area: p2;
}

.p2-style .ui-scrollpanel-content {
    padding: 2em;
}

.p3 {
    grid-area: p3;
}

.p3-style .ui-scrollpanel-content {
    padding: 2em;
}