<div class="fixed-header">
  <div class="header-grid">
    <div class="header">
      <h1>Header1</h1>
    </div>
    <div class="header">
      <h1>Header2</h1>
    </div>
    <div class="header">
      <h1>Header3</h1>
    </div>
    <div class="header">
      <h1>Header4</h1>
    </div>
  </div>
</div>

<div class="grid">
  <div class="feature">
    Some Feature
  </div>
  <div class="option1">
    Test
  </div>
  <div class="option2">
    test
  </div>
  <div class="option3">
    test
  </div>
  <div class="feature">
    Some Feature
  </div>
  <div class="option1">
    Test
  </div>
  <div class="option2">
    test
  </div>
  <div class="option3">
    test
  </div>
  <div class="feature">
    Some Feature
  </div>
  <div class="option1">
    Test
  </div>
  <div class="option2">
    test
  </div>
  <div class="option3">
    test
  </div>
  <div class="feature">
    Some Feature
  </div>
  <div class="option1">
    Test
  </div>
  <div class="option2">
    test
  </div>
  <div class="option3">
    test
  </div>
  <div class="feature">
    Some Feature
  </div>
  <div class="option1">
    Test
  </div>
  <div class="option2">
    test
  </div>
  <div class="option3">
    test
  </div>
  <div class="feature">
    Some Feature
  </div>
  <div class="option1">
    Test
  </div>
  <div class="option2">
    test
  </div>
  <div class="option3">
    test
  </div>
  <div class="feature">
    Some Feature
  </div>
  <div class="option1">
    Test
  </div>
  <div class="option2">
    test
  </div>
  <div class="option3">
    test
  </div>
  <div class="feature">
    Some Feature
  </div>
  <div class="option1">
    Test
  </div>
  <div class="option2">
    test
  </div>
  <div class="option3">
    test
  </div>
  <div class="feature">
    Some Feature
  </div>
  <div class="option1">
    Test
  </div>
  <div class="option2">
    test
  </div>
  <div class="option3">
    test
  </div>
  <div class="feature">
    Some Feature
  </div>
  <div class="option1">
    Test
  </div>
  <div class="option2">
    test
  </div>
  <div class="option3">
    test
  </div>
  <div class="feature">
    Some Feature
  </div>
  <div class="option1">
    Test
  </div>
  <div class="option2">
    test
  </div>
  <div class="option3">
    test
  </div>
  <div class="feature">
    Some Feature
  </div>
  <div class="option1">
    Test
  </div>
  <div class="option2">
    test
  </div>
  <div class="option3">
    test
  </div>
  <div class="feature">
    Some Feature
  </div>
  <div class="option1">
    Test
  </div>
  <div class="option2">
    test
  </div>
  <div class="option3">
    test
  </div>
  <div class="feature">
    Some Feature
  </div>
  <div class="option1">
    Test
  </div>
  <div class="option2">
    test
  </div>
  <div class="option3">
    test
  </div>
  <div class="feature">
    Some Feature
  </div>
  <div class="option1">
    Test
  </div>
  <div class="option2">
    test
  </div>
  <div class="option3">
    test
  </div>
  <div class="feature">
    Some Feature
  </div>
  <div class="option1">
    Test
  </div>
  <div class="option2">
    test
  </div>
  <div class="option3">
    test
  </div>
  <div class="feature">
    Some Feature
  </div>
  <div class="option1">
    Test
  </div>
  <div class="option2">
    test
  </div>
  <div class="option3">
    test
  </div>
  <div class="feature">
    Some Feature
  </div>
  <div class="option1">
    Test
  </div>
  <div class="option2">
    test
  </div>
  <div class="option3">
    test
  </div>
  <div class="feature">
    Some Feature
  </div>
  <div class="option1">
    Test
  </div>
  <div class="option2">
    test
  </div>
  <div class="option3">
    test
  </div>
  <div class="feature">
    Some Feature
  </div>
  <div class="option1">
    Test
  </div>
  <div class="option2">
    test
  </div>
  <div class="option3">
    test
  </div>
  <div class="feature">
    Some Feature
  </div>
  <div class="option1">
    Test
  </div>
  <div class="option2">
    test
  </div>
  <div class="option3">
    test
  </div>
  <div class="feature">
    Some Feature
  </div>
  <div class="option1">
    Test
  </div>
  <div class="option2">
    test
  </div>
  <div class="option3">
    test
  </div>
  <div class="feature">
    Some Feature
  </div>
  <div class="option1">
    Test
  </div>
  <div class="option2">
    test
  </div>
  <div class="option3">
    test
  </div>
  <div class="feature">
    Some Feature
  </div>
  <div class="option1">
    Test
  </div>
  <div class="option2">
    test
  </div>
  <div class="option3">
    test
  </div>
  <div class="feature">
    Some Feature
  </div>
  <div class="option1">
    Test
  </div>
  <div class="option2">
    test
  </div>
  <div class="option3">
    test
  </div>
  <div class="feature">
    Some Feature
  </div>
  <div class="option1">
    Test
  </div>
  <div class="option2">
    test
  </div>
  <div class="option3">
    test
  </div>
  <div class="feature">
    Some Feature
  </div>
  <div class="option1">
    Test
  </div>
  <div class="option2">
    test
  </div>
  <div class="option3">
    test
  </div>
  <div class="feature">
    Some Feature
  </div>
  <div class="option1">
    Test
  </div>
  <div class="option2">
    test
  </div>
  <div class="option3">
    test
  </div>
  <div class="feature">
    Some Feature
  </div>
  <div class="option1">
    Test
  </div>
  <div class="option2">
    test
  </div>
  <div class="option3">
    test
  </div>
  <div class="feature">
    Some Feature
  </div>
  <div class="option1">
    Test
  </div>
  <div class="option2">
    test
  </div>
  <div class="option3">
    test
  </div>
  <div class="feature">
    Some Feature
  </div>
  <div class="option1">
    Test
  </div>
  <div class="option2">
    test
  </div>
  <div class="option3">
    test
  </div>
  <div class="feature">
    Some Feature
  </div>
  <div class="option1">
    Test
  </div>
  <div class="option2">
    test
  </div>
  <div class="option3">
    test
  </div>
  <div class="feature">
    Some Feature
  </div>
  <div class="option1">
    Test
  </div>
  <div class="option2">
    test
  </div>
  <div class="option3">
    test
  </div>
  <div class="feature">
    Some Feature
  </div>
  <div class="option1">
    Test
  </div>
  <div class="option2">
    test
  </div>
  <div class="option3">
    test
  </div>
  <div class="feature">
    Some Feature
  </div>
  <div class="option1">
    Test
  </div>
  <div class="option2">
    test
  </div>
  <div class="option3">
    test
  </div>
  <div class="feature">
    Some Feature
  </div>
  <div class="option1">
    Test
  </div>
  <div class="option2">
    test
  </div>
  <div class="option3">
    test
  </div>
  <div class="feature">
    Some Feature
  </div>
  <div class="option1">
    Test
  </div>
  <div class="option2">
    test
  </div>
  <div class="option3">
    test
  </div>
  <div class="feature">
    Some Feature
  </div>
  <div class="option1">
    Test
  </div>
  <div class="option2">
    test
  </div>
  <div class="option3">
    test
  </div>
  <div class="feature">
    Some Feature
  </div>
  <div class="option1">
    Test
  </div>
  <div class="option2">
    test
  </div>
  <div class="option3">
    test
  </div>
  <div class="feature">
    Some Feature
  </div>
  <div class="option1">
    Test
  </div>
  <div class="option2">
    test
  </div>
  <div class="option3">
    test
  </div>
  <div class="feature">
    Some Feature
  </div>
  <div class="option1">
    Test
  </div>
  <div class="option2">
    test
  </div>
  <div class="option3">
    test
  </div>
  <div class="feature">
    Some Feature
  </div>
  <div class="option1">
    Test
  </div>
  <div class="option2">
    test
  </div>
  <div class="option3">
    test
  </div>
  <div class="feature">
    Some Feature
  </div>
  <div class="option1">
    Test
  </div>
  <div class="option2">
    test
  </div>
  <div class="option3">
    test
  </div>
  <div class="feature">
    Some Feature
  </div>
  <div class="option1">
    Test
  </div>
  <div class="option2">
    test
  </div>
  <div class="option3">
    test
  </div>
</div>